In [1]:
import datetime as dt #For inputing any date or time information
from datetime import timezone #For inputing timezones
from google.cloud import bigquery          #The BigQuery API
import matplotlib.pyplot as plt      #For plotting
import numpy as np                         #For scientific computation
import os                            #For work with native operating system and directories
from pathlib import Path             #For working with file paths and directories
import pydata_google_auth                  #For authentication against Google 
import pandas as pd                        #For data manipulation and bgq --> pandas conversion
import pandas_gbq as pd_gbq #Import BigQuery data to create a pandas dataframe
import plotly.graph_objects as go # interactive plots
import pytz #For timezone calculations
import seaborn as sns                #For plotting
import warnings
import datetime

In [2]:
query = """
SELECT
  CUSTOMER_NUMBER,
  ENTERPRISE_ACCOUNT_NO,
  ENTERPRISE_ACCOUNT_NAME,
  NATIONAL_ACCOUNT,
  PAYER,
  DOCUMENT_DATE_IN_DOCUMENT,
  DOCUMENT_TYPE,
  POSTING_KEY_NAME,
  AMOUNT_IN_LOCAL_CURRENCY,
  CREDIT_CONTROL_AREA,
  AR_STATUS,
  PAYMENT_DATE,
  CC_DAYS_TO_ADD,
  TERMS_OF_PAYMENT_KEY  
FROM
  `edna-data-pr-cah.VW_CORP_GFSS_NP.VW_AR_AGING`
WHERE
  (DOCUMENT_TYPE IN ('ZF',
      'VF', 'DH', 'DL', 'DZ', 'DW', 'DC'))
    AND ("2024-01-01" >=PAYMENT_DATE)
ORDER BY
  PAYMENT_DATE
"""

In [3]:
# Import the data with imputation
bqclient = bigquery.Client()
df = bqclient.query(query).to_dataframe()

In [4]:
df

,CUSTOMER_NUMBER,ENTERPRISE_ACCOUNT_NO,ENTERPRISE_ACCOUNT_NAME,NATIONAL_ACCOUNT,PAYER,DOCUMENT_DATE_IN_DOCUMENT,DOCUMENT_TYPE,POSTING_KEY_NAME,AMOUNT_IN_LOCAL_CURRENCY,CREDIT_CONTROL_AREA,AR_STATUS,PAYMENT_DATE,CC_DAYS_TO_ADD,TERMS_OF_PAYMENT_KEY
0,2057199296,,,0000041400,2057199296,2023-08-23,ZF,01 - Invoice,14926.590000000,PD,CLEAR,2007-12-13,5.000000000,YS05
1,2057199296,,,0000041400,2057199296,2023-08-22,ZF,01 - Invoice,1111.470000000,PD,CLEAR,2007-12-13,5.000000000,YS05
2,2057199296,,,0000041400,2057199296,2023-08-24,ZF,01 - Invoice,263.950000000,PD,CLEAR,2007-12-13,5.000000000,YS05
3,2057199296,,,0000041400,2057199296,2023-08-25,ZF,01 - Invoice,2578.660000000,PD,CLEAR,2007-12-13,5.000000000,YS05
4,2057199296,,,0000041400,2057199296,2023-08-24,ZF,11 - Credit memo,-45.690000000,PD,CLEAR,2007-12-13,0E-9,YS05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50459533,0011139510,7100000255,7100000255 - ADVENTIST HEALTH,,None,2022-04-27,DH,16 - Payment difference,-60.940000000,Z2140,CLEAR,2023-12-22,0E-9,
50459534,0011139510,7100000255,7100000255 - ADVENTIST HEALTH,,None,2022-04-27,DH,16 - Payment difference,-60.940000000,Z2140,CLEAR,2023-12-22,0E-9,
50459535,0011139510,7100000255,7100000255 - ADVENTIST HEALTH,,None,2022-02-08,DH,16 - Payment difference,-995.430000000,Z2140,CLEAR,2023-12-22,0E-9,
50459536,0011139510,7100000255,7100000255 - ADVENTIST HEALTH,,None,2022-03-31,DH,16 - Payment difference,-6.390000000,Z2140,CLEAR,2023-12-22,0E-9,
50459537,0011139510,7100000255,7100000255 - ADVENTIST HEALTH,,None,2022-04-27,DH,16 - Payment difference,-30.470000000,Z2140,CLEAR,2023-12-22,0E-9,

# Step 1
- ### Search by:
    - CUSTOMER_NUMBER
    - ENTERPRISE_ACCOUNT_NO

## Search by CUSTOMER_NUMBER
customer = "2057194397"

## Final Product
**Year Month CREDIT_CONTROL_AREA CC_DAYS_TO_ADD WAPD**

0	2022	Dec 	PD	 28.0000	                     30.0434

1	2022	Nov 	PD	 28.0000	                     29.9682

2	2022	Oct 	PD	 28.0000  	                 29.9637

3	2022	Sep 	PD	 28.0000	                     29.9744

4	2023	Apr 	PD	 28.0000	                     24.8993

5	2023	Aug 	PD	 28.0000	                     26.6483

6	2023	Feb 	PD	 28.0000	                     28.5953

7	2023	Jan 	PD	 28.0000	                     29.7159

8	2023	Jul 	PD	 28.0000	                     25.0257

9	2023	Jun 	PD	 28.0000	                     25.7423

10	2023	Mar 	PD	 28.0000	                     25.1921

11	2023	May 	PD	 28.0000	                     24.3104

12	2023	Sep 	PD	 28.0000	                     27.9685

In [12]:
query = """
SELECT
  CUSTOMER_NUMBER,
  ENTERPRISE_ACCOUNT_NO,
  ENTERPRISE_ACCOUNT_NAME,
  NATIONAL_ACCOUNT,
  PAYER,
  DOCUMENT_DATE_IN_DOCUMENT,
  DOCUMENT_TYPE,
  POSTING_KEY_NAME,
  AMOUNT_IN_LOCAL_CURRENCY,
  CREDIT_CONTROL_AREA,
  AR_STATUS,
  PAYMENT_DATE,
  CC_DAYS_TO_ADD,
  TERMS_OF_PAYMENT_KEY  
FROM
  `edna-data-pr-cah.VW_CORP_GFSS_NP.VW_AR_AGING`
WHERE
  (DOCUMENT_TYPE IN ('ZF',
      'VF', 'DH', 'DL', 'DZ', 'DW', 'DC'))
    AND ("2024-01-01" >=PAYMENT_DATE)
    AND CUSTOMER_NUMBER = "2057194397" 
ORDER BY
  PAYMENT_DATE
"""

In [13]:
bqclient = bigquery.Client()
df_customer = bqclient.query(query).to_dataframe()

In [8]:
df_customer.CUSTOMER_NUMBER.unique()

array(['2057194397'], dtype=object)

# Step 2:
- Create new columns
    - Sub Payment Date from Invoice Date
    - Weighted Invoice Value
    - WAPD

In [47]:
# Sub Payment Date from Invoice Date
query = """
SELECT
  CUSTOMER_NUMBER,
  ENTERPRISE_ACCOUNT_NO,
  ENTERPRISE_ACCOUNT_NAME,
  NATIONAL_ACCOUNT,
  PAYER,
  DOCUMENT_DATE_IN_DOCUMENT,
  DOCUMENT_TYPE,
  POSTING_KEY_NAME,
  AMOUNT_IN_LOCAL_CURRENCY,
  CREDIT_CONTROL_AREA,
  AR_STATUS,
  PAYMENT_DATE,
  CC_DAYS_TO_ADD,
  TERMS_OF_PAYMENT_KEY,
  DATE_DIFF(CAST(PAYMENT_DATE AS DATE), CAST(DOCUMENT_DATE_IN_DOCUMENT AS DATE), DAY) AS sub_Payment_Date_from_Invoice_Date
FROM
  `edna-data-pr-cah.VW_CORP_GFSS_NP.VW_AR_AGING`
WHERE
  (DOCUMENT_TYPE IN ('ZF',
      'VF', 'DH', 'DL', 'DZ', 'DW', 'DC'))
    AND ("2024-01-01" >=PAYMENT_DATE)
    AND CUSTOMER_NUMBER = "2057194397" 
ORDER BY
  PAYMENT_DATE
"""

In [48]:
bqclient = bigquery.Client()
df_customer_sub = bqclient.query(query).to_dataframe()

In [54]:
# Weighted Invoice Value
query = """
SELECT
  CUSTOMER_NUMBER,
  ENTERPRISE_ACCOUNT_NO,
  ENTERPRISE_ACCOUNT_NAME,
  NATIONAL_ACCOUNT,
  PAYER,
  DOCUMENT_DATE_IN_DOCUMENT,
  DOCUMENT_TYPE,
  POSTING_KEY_NAME,
  AMOUNT_IN_LOCAL_CURRENCY,
  CREDIT_CONTROL_AREA,
  AR_STATUS,
  PAYMENT_DATE,
  CC_DAYS_TO_ADD,
  TERMS_OF_PAYMENT_KEY,
  DATE_DIFF(CAST(PAYMENT_DATE AS DATE), CAST(DOCUMENT_DATE_IN_DOCUMENT AS DATE), DAY) * AMOUNT_IN_LOCAL_CURRENCY AS weighted_Invoice_Value
FROM
  `edna-data-pr-cah.VW_CORP_GFSS_NP.VW_AR_AGING`
WHERE
  (DOCUMENT_TYPE IN ('ZF',
      'VF', 'DH', 'DL', 'DZ', 'DW', 'DC'))
    AND ("2024-01-01" >=PAYMENT_DATE)
    AND CUSTOMER_NUMBER = "2057194397" 
ORDER BY
  PAYMENT_DATE
"""

In [55]:
bqclient = bigquery.Client()
df_customer_sub_weight = bqclient.query(query).to_dataframe()

In [60]:
# Weighted Invoice Value
# 90 days ago
query = """
SELECT
  CUSTOMER_NUMBER,
  ENTERPRISE_ACCOUNT_NO,
  ENTERPRISE_ACCOUNT_NAME,
  NATIONAL_ACCOUNT,
  PAYER,
  DOCUMENT_DATE_IN_DOCUMENT,
  DOCUMENT_TYPE,
  POSTING_KEY_NAME,
  AMOUNT_IN_LOCAL_CURRENCY,
  CREDIT_CONTROL_AREA,
  AR_STATUS,
  PAYMENT_DATE,
  CC_DAYS_TO_ADD,
  TERMS_OF_PAYMENT_KEY,
  DATE_DIFF(CAST(PAYMENT_DATE AS DATE), CAST(DOCUMENT_DATE_IN_DOCUMENT AS DATE), DAY) * AMOUNT_IN_LOCAL_CURRENCY AS weighted_Invoice_Value,
  (CAST(PAYMENT_DATE AS DATE)-90) AS ninty_days_ago
FROM
  `edna-data-pr-cah.VW_CORP_GFSS_NP.VW_AR_AGING`
WHERE
  (DOCUMENT_TYPE IN ('ZF',
      'VF', 'DH', 'DL', 'DZ', 'DW', 'DC'))
    AND ("2024-01-01" >=PAYMENT_DATE)
    AND CUSTOMER_NUMBER = "2057194397" 
ORDER BY
  PAYMENT_DATE
"""

In [61]:
bqclient = bigquery.Client()
df_customer_sub_weight_90 = bqclient.query(query).to_dataframe()

In [63]:
# Weighted Invoice Value
# 90 days ago
# WAPD
query = """
SELECT
  CUSTOMER_NUMBER,
  ENTERPRISE_ACCOUNT_NO,
  ENTERPRISE_ACCOUNT_NAME,
  NATIONAL_ACCOUNT,
  PAYER,
  DOCUMENT_DATE_IN_DOCUMENT,
  DOCUMENT_TYPE,
  POSTING_KEY_NAME,
  AMOUNT_IN_LOCAL_CURRENCY,
  CREDIT_CONTROL_AREA,
  AR_STATUS,
  PAYMENT_DATE,
  CC_DAYS_TO_ADD,
  TERMS_OF_PAYMENT_KEY,
  DATE_DIFF(CAST(PAYMENT_DATE AS DATE), CAST(DOCUMENT_DATE_IN_DOCUMENT AS DATE), DAY) * AMOUNT_IN_LOCAL_CURRENCY AS weighted_Invoice_Value,
  (CAST(PAYMENT_DATE AS DATE)-90) AS ninty_days_ago
FROM
  `edna-data-pr-cah.VW_CORP_GFSS_NP.VW_AR_AGING`
WHERE
  (DOCUMENT_TYPE IN ('ZF',
      'VF', 'DH', 'DL', 'DZ', 'DW', 'DC'))
    AND ("2024-01-01" >=PAYMENT_DATE)
    AND CUSTOMER_NUMBER = "2057194397" 
        (SELECT PAYMENT_DATE, ninty_days_ago, DOCUMENT_DATE_IN_DOCUMENT, AMOUNT_IN_LOCAL_CURRENCY, weighted_Invoice_Value, 
        ((SUM(weighted_Invoice_Value))/(SUM(AMOUNT_IN_LOCAL_CURRENCY)) AS WAPD
        WHERE DOCUMENT_DATE_IN_DOCUMENT between PAYMENT_DATE and ninty_days_ago
        
        
        FROM`edna-data-pr-cah.VW_CORP_GFSS_NP.VW_AR_AGING`)
ORDER BY
  PAYMENT_DATE
"""

In [64]:
bqclient = bigquery.Client()
df_customer_sub_weight_90_WAPD = bqclient.query(query).to_dataframe()

BadRequest: 400 Syntax error: Function call cannot be applied to this expression. Function calls require a path, e.g. a.b.c() at [26:9]

Location: US
Job ID: 2968bbca-ca77-46c4-acde-3c1d3fa84f00