In [1]:
# Display settings
## Auto reload modules & inline plots
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
import datetime as dt #For inputing any date or time information
from datetime import timezone #For inputing timezones
from google.cloud import bigquery          #The BigQuery API
import matplotlib.pyplot as plt      #For plotting
import numpy as np                         #For scientific computation
import os                            #For work with native operating system and directories
from pathlib import Path             #For working with file paths and directories
import pydata_google_auth                  #For authentication against Google 
import pandas as pd                        #For data manipulation and bgq --> pandas conversion
import pandas_gbq as pd_gbq #Import BigQuery data to create a pandas dataframe
import plotly.graph_objects as go # interactive plots
import pytz #For timezone calculations
import seaborn as sns                #For plotting
import warnings
import datetime

from plotly.subplots import make_subplots
import plotly.express as px
import plotly.graph_objects as go

In [3]:
pd.set_option('display.max_columns', None)
pd.options.display.float_format = '{:.4f}'.format
warnings.filterwarnings('ignore')

In [4]:
query = """
SELECT
  CUSTOMER_NUMBER,
  ENTERPRISE_ACCOUNT_NO,
  ENTERPRISE_ACCOUNT_NAME,
  NATIONAL_ACCOUNT,
  PAYER,
  DOCUMENT_DATE_IN_DOCUMENT,
  DOCUMENT_TYPE,
  POSTING_KEY_NAME,
  AMOUNT_IN_LOCAL_CURRENCY,
  CREDIT_CONTROL_AREA,
  AR_STATUS,
  PAYMENT_DATE,
  CC_DAYS_TO_ADD,
  TERMS_OF_PAYMENT_KEY  
FROM
  `edna-data-pr-cah.VW_CORP_GFSS_NP.VW_AR_AGING`
WHERE
  (DOCUMENT_TYPE IN ('ZF',
      'VF', 'DH', 'DL', 'DZ', 'DW', 'DC'))
    AND ("2024-01-01" >=PAYMENT_DATE)
ORDER BY
  PAYMENT_DATE
"""

<font color='red'>check on: WHERE
  (DOCUMENT_TYPE IN ('ZF',
      'VF', 'DH', 'DL', 'DZ', 'DW', 'DC'))</font>

In [23]:
# Import the data with imputation
bqclient = bigquery.Client()
df = bqclient.query(query).to_dataframe()

In [24]:
df

,CUSTOMER_NUMBER,ENTERPRISE_ACCOUNT_NO,ENTERPRISE_ACCOUNT_NAME,NATIONAL_ACCOUNT,PAYER,DOCUMENT_DATE_IN_DOCUMENT,DOCUMENT_TYPE,POSTING_KEY_NAME,AMOUNT_IN_LOCAL_CURRENCY,CREDIT_CONTROL_AREA,AR_STATUS,PAYMENT_DATE,CC_DAYS_TO_ADD,TERMS_OF_PAYMENT_KEY
0,0010006591,7100000246,7100000246 - HCA,,None,2021-01-01,DH,15 - Incoming payment,-6659.010000000,Z2140,CLEAR,2021-01-01,0E-9,
1,0011192682,7100016051,7100016051 - HCA,,None,2021-01-01,DH,15 - Incoming payment,-1968.960000000,Z2140,CLEAR,2021-01-01,0E-9,
2,0011193471,7100016051,7100016051 - HCA,,None,2021-01-01,DH,15 - Incoming payment,-1480.770000000,Z2140,CLEAR,2021-01-01,0E-9,
3,0010021326,7100000246,7100000246 - HCA,,None,2021-01-01,DH,15 - Incoming payment,-5726.100000000,Z2140,CLEAR,2021-01-01,0E-9,
4,0011118939,7100000246,7100000246 - HCA,,None,2021-01-01,DH,15 - Incoming payment,-102.790000000,Z2140,CLEAR,2021-01-01,0E-9,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260519,0011139510,7100000255,7100000255 - ADVENTIST HEALTH,,None,2022-02-15,DH,16 - Payment difference,-244.790000000,Z2140,CLEAR,2023-12-22,0E-9,
2260520,0011139510,7100000255,7100000255 - ADVENTIST HEALTH,,None,2021-12-21,DH,16 - Payment difference,-246.170000000,Z2140,CLEAR,2023-12-22,0E-9,
2260521,0011139510,7100000255,7100000255 - ADVENTIST HEALTH,,None,2021-03-25,DH,16 - Payment difference,-31.430000000,Z2140,CLEAR,2023-12-22,0E-9,
2260522,0011139510,7100000255,7100000255 - ADVENTIST HEALTH,,None,2022-02-08,DH,16 - Payment difference,-995.430000000,Z2140,CLEAR,2023-12-22,0E-9,
2260523,0011139510,7100000255,7100000255 - ADVENTIST HEALTH,,None,2022-01-25,DH,16 - Payment difference,-195.980000000,Z2140,CLEAR,2023-12-22,0E-9,

In [7]:
df=df.query('POSTING_KEY_NAME == "01 - Invoice" & AR_STATUS == "CLEAR"')
df['CC_DAYS_TO_ADD']=df['CC_DAYS_TO_ADD'].apply(lambda x: float(x))
df['AMOUNT_IN_LOCAL_CURRENCY']=df['AMOUNT_IN_LOCAL_CURRENCY'].apply(lambda x: float(x))
# df.reset_index(inplace = True)

In [8]:
def calc_WAPD(df_1):
    df_1['PAYMENT_DATE']=pd.to_datetime(df_1['PAYMENT_DATE'])
    df_1['DOCUMENT_DATE_IN_DOCUMENT']=pd.to_datetime(df_1['DOCUMENT_DATE_IN_DOCUMENT'])
    temp_dso = ""
    WAPD_new = pd.Series([])
    for index, row in df_1.iterrows():
        start_date= row['PAYMENT_DATE']
        end_date = row['90_days_ago']
        temp_dso = row['TERMS_OF_PAYMENT_KEY']
        try:
            ninety_day_range = df_1.query('@start_date >= PAYMENT_DATE   >= @end_date and TERMS_OF_PAYMENT_KEY == @temp_dso ')
            WAPD= ninety_day_range['Weighted Invoice Value'].sum() / ninety_day_range['AMOUNT_IN_LOCAL_CURRENCY'].sum()
            WAPD_new[index]=WAPD
        except:
            print('no PAYMENT_DATE')
            WAPD_new[index]=0
    df_1.insert(16, "WAPD", WAPD_new)
    return df_1

In [9]:
def search_customer(CUSTOMER_NUMBER):
    CUSTOMER_df=df.query('CUSTOMER_NUMBER == @CUSTOMER_NUMBER')
    
    CUSTOMER_df.reset_index(inplace = True)
    # print(CUSTOMER_df)
    CUSTOMER_df['AMOUNT_IN_LOCAL_CURRENCY']=CUSTOMER_df['AMOUNT_IN_LOCAL_CURRENCY'].apply(lambda x: float(x))
#     Sub Payment Date from Invoice Date
    CUSTOMER_df['Sub Payment Date from Invoice Date']=(CUSTOMER_df['PAYMENT_DATE']-CUSTOMER_df['DOCUMENT_DATE_IN_DOCUMENT']).dt.days
#     Weighted Invoice Value
    CUSTOMER_df['Weighted Invoice Value']= CUSTOMER_df['Sub Payment Date from Invoice Date']*CUSTOMER_df['AMOUNT_IN_LOCAL_CURRENCY']
# WAPD
    import datetime
    current = pd.to_datetime(CUSTOMER_df['PAYMENT_DATE'])
    CUSTOMER_df['90_days_ago']= current - pd.to_timedelta('90 days')
    # CUSTOMER_df = calc_WAPD(CUSTOMER_df)
    # CUSTOMER_df = final_dataFram(CUSTOMER_df)
    return CUSTOMER_df

In [10]:
# Returns a tuple of DataFrames sorted by DSO term

def get_terms(ENTERPRISE_ACCOUNT_NO):
    return_list = []
    
    terms_df=df.query('ENTERPRISE_ACCOUNT_NO == @ENTERPRISE_ACCOUNT_NO')
    
    # terms_df.reset_index(inplace = True)
    terms_list = terms_df['CC_DAYS_TO_ADD'].unique()
    print(terms_list)
    
    # for dso_term in terms_list:
    #     name = str(dso_term)+"_term"
    #     name = terms_df.query('CC_DAYS_TO_ADD ==@dso_term')
    #     return_list.append(name)
    
    return None

In [11]:
def search_EAN(term,EAN):
    print(term)
    CUSTOMER_df=df.query('ENTERPRISE_ACCOUNT_NO == @EAN')
    print("Before\n",CUSTOMER_df)
    CUSTOMER_df=CUSTOMER_df.query('CC_DAYS_TO_ADD == @term')
    print("AFTER\n",CUSTOMER_df)
    CUSTOMER_df.reset_index(inplace = True)
   
    # CUSTOMER_df['AMOUNT_IN_LOCAL_CURRENCY']=CUSTOMER_df['AMOUNT_IN_LOCAL_CURRENCY'].apply(lambda x: float(x))
#     Sub Payment Date from Invoice Date
    
    CUSTOMER_df['Sub Payment Date from Invoice Date']=(CUSTOMER_df['PAYMENT_DATE']-CUSTOMER_df['DOCUMENT_DATE_IN_DOCUMENT']).dt.days
#     Weighted Invoice Value
    CUSTOMER_df['Weighted Invoice Value']= CUSTOMER_df['Sub Payment Date from Invoice Date']*CUSTOMER_df['AMOUNT_IN_LOCAL_CURRENCY']
# WAPD
    import datetime
    current = pd.to_datetime(CUSTOMER_df['PAYMENT_DATE'])
    CUSTOMER_df['90_days_ago']= current - pd.to_timedelta('90 days')
    CUSTOMER_df = calc_WAPD(CUSTOMER_df)
    
    
    
    return CUSTOMER_df

In [12]:
def final_dataFram(toFix_df):
    toFix_df['month'] = toFix_df['PAYMENT_DATE'].dt.strftime('%b')
    df_final = pd.DataFrame({'Year': toFix_df.PAYMENT_DATE.dt.year,
                   'Month': toFix_df.month,
                   'CREDIT_CONTROL_AREA': toFix_df.CREDIT_CONTROL_AREA,
                   'WAPD':toFix_df.WAPD,
                
                    "CC_DAYS_TO_ADD":toFix_df.CC_DAYS_TO_ADD})
    dfff = (
        df_final
        .filter(["Year", "Month","CREDIT_CONTROL_AREA","WAPD","CC_DAYS_TO_ADD"])
        .groupby(['Year','Month','CREDIT_CONTROL_AREA',"CC_DAYS_TO_ADD"])
        .agg({'WAPD' : ['mean']})
        .sort_values(['Year',"Month","CC_DAYS_TO_ADD"])
        .reset_index()
    )
    dfff.columns = ['Year','Month', 'CREDIT_CONTROL_AREA','CC_DAYS_TO_ADD',"WAPD"]
    get_graph(dfff)
    return dfff

In [13]:
def get_graph(finished_df):
    dff = pd.DataFrame(
        dict(
            year=finished_df.Year.values ,
            month=finished_df.Month.values,
            CCA= finished_df.CREDIT_CONTROL_AREA.values,
            WAPD=finished_df.WAPD.values,
            dso_term = finished_df.CC_DAYS_TO_ADD.values
        )
    )

    fig = go.Figure()
    # fig = make_subplots(1,1)

    fig.update_layout(
        template="none",
        xaxis=dict(title_text="Year"),
        yaxis=dict(title_text="WAPD"),
        barmode="group",
    )

    colors = ["#456e73","#2A66DE", "#FFC32B","#457353"]

    for r, c in zip(dff.CCA.unique(), colors):
        plot_df = dff[dff.CCA == r]
        fig.add_trace(go.Bar(x=[plot_df.year, plot_df.month], y=plot_df.WAPD, name=r, marker_color=c))


    fig.add_trace(go.Scatter(x= [dff.year, dff.month], y=dff.dso_term, mode = 'lines',name = "DSO Term"))


    # fig.plot(fi.CC_DAYS_TO_ADD, c = "y", label = "DSO Term",zorder=10)
    # print(dff)
    fig.update_layout(title='WAPD')
    fig.show()

# **********************************************************************************************************

# Visualization

## Customer

In [25]:
customer = "2057208375"
t = search_customer(customer)

In [26]:
t

Empty DataFrame
Columns: [index, CUSTOMER_NUMBER, ENTERPRISE_ACCOUNT_NO, ENTERPRISE_ACCOUNT_NAME, NATIONAL_ACCOUNT, PAYER, DOCUMENT_DATE_IN_DOCUMENT, DOCUMENT_TYPE, POSTING_KEY_NAME, AMOUNT_IN_LOCAL_CURRENCY, CREDIT_CONTROL_AREA, AR_STATUS, PAYMENT_DATE, CC_DAYS_TO_ADD, TERMS_OF_PAYMENT_KEY, Sub Payment Date from Invoice Date, Weighted Invoice Value, 90_days_ago]
Index: []

In [16]:
customer = "2057200915"
t = search_customer(customer)

In [17]:
customer = "2057194397"
t = search_customer(customer)

In [18]:
t

Empty DataFrame
Columns: [index, CUSTOMER_NUMBER, ENTERPRISE_ACCOUNT_NO, ENTERPRISE_ACCOUNT_NAME, NATIONAL_ACCOUNT, PAYER, DOCUMENT_DATE_IN_DOCUMENT, DOCUMENT_TYPE, POSTING_KEY_NAME, AMOUNT_IN_LOCAL_CURRENCY, CREDIT_CONTROL_AREA, AR_STATUS, PAYMENT_DATE, CC_DAYS_TO_ADD, TERMS_OF_PAYMENT_KEY, Sub Payment Date from Invoice Date, Weighted Invoice Value, 90_days_ago]
Index: []

In [19]:
customer = "2057194397"
t = search_customer(customer)

In [20]:
t.AMOUNT_IN_LOCAL_CURRENCY.min()

nan

In [21]:
t['Weighted Invoice Value'].sum() / t['AMOUNT_IN_LOCAL_CURRENCY'].sum()

ZeroDivisionError: division by zero

In [ ]:
t.WAPD.mean()

## EAN

In [ ]:
EAN = "7100007382"
get_terms(EAN)
# DSO terms are printed below

In [ ]:
term = 15

In [ ]:
fi=search_EAN(term,EAN)

In [ ]:
final_dataFram(fi)

## National Account